@import url("./plantilla.css");
.main{
    width: 70vw;
    margin: auto;
    padding: 25px;
    height: 84vh;
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    gap: 10px;
}
.titulo, .contenidos{
    width: 100%;
    box-shadow: -4px 4px 12px -6px rgba(0,0,0,0.75);
    margin: auto;
    background-color: #FFFFFF;
    padding: 2rem;
    font-size: 2.5rem;
}
.main>article{
    height: 100%;
}
.fotoMia{
    object-fit: cover;
    object-position: center;
    width: 20%;
    float: left;
}