/* :root{
    --Water:rgb(121, 121, 244);
    --Grass: rgb(9, 146, 9);
    --Fire: rgb(244, 66, 2);
    --Bug: rgb(168, 242, 57);
    --Normal: rgb(129, 127, 127);
    --Electric: rgb(226, 226, 1);
    --Ground: rgb(225, 180, 64);
    --Poison: rgb(128, 5, 128);
    --Fighting: rgb(231, 231, 205);
    --Psychic: rgb(241, 180, 191);
    --Ice:rgb(114, 233, 193);
    --Rock: rgb(165, 42, 42);
    --Dragon: rgb(0, 0, 170);
    --Flying: rgb(149, 149, 230);
} */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
a{
    color: black;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: beige;
}
.navegador, .piePagina{
    height: 120px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links{
    padding: 20px;
    color: white;
    font-size: 2rem;
}
.main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 0;
    /* display: grid;
    grid-template-columns: repeat(10, 1fr); */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.main__heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 25px ;
}
.barra-busqueda{
    padding: .5rem;
    font-size: 2rem;
}
.enlace{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.caja{
    -webkit-box-shadow: -4px 4px 12px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 12px -6px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 12px -6px rgba(0,0,0,0.75);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.fotos{
    width: 35%;
    object-fit: cover;
    object-position: center;
}
.Water{background-color: rgb(78, 147, 244);}
.Grass{background-color: rgb(9, 146, 9);}
.Fire{background-color: rgb(244, 66, 2);}
.Bug{background-color: rgb(168, 242, 57);}
.Normal{background-color: rgb(129, 127, 127);}
.Electric{background-color: rgb(226, 226, 1);}
.Ground{background-color: rgb(225, 180, 64);}
.Poison{background-color: rgb(128, 5, 128);}
.Fighting{background-color: rgb(231, 231, 205);}
.Psychic{background-color: rgb(241, 180, 191);}
.Rock{background-color: rgb(165, 42, 42);}
.Dragon{background-color: rgb(130, 57, 208);}
.Flying{background-color: rgb(149, 149, 230);}
.Ice{background-color:rgb(114, 233, 193);}