@import url("./plantilla.css");
.main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 0;
    /* display: grid;
    grid-template-columns: repeat(10, 1fr); */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}
.main__heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 25px ;
}
h1{
    font-family: serif;
    font-size: 3rem;
}
.barra-busqueda{
    padding: .5rem;
    font-size: 2rem;
}
.enlace{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.caja{
    -webkit-box-shadow: -4px 4px 12px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 4px 12px -6px rgba(0,0,0,0.75);
    box-shadow: -4px 4px 12px -6px rgba(0,0,0,0.75);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in;
}
.caja:hover{
    -webkit-box-shadow: 0 0 20px -6px #FB1B1B;
    -moz-box-shadow: 0 0 20px -6px #FB1B1B;
    box-shadow: 0 0 20px -6px #FB1B1B;
}
.fotos{
    width: 35%;
    object-fit: cover;
    object-position: center;
}

.piePagina__contenedor{
    margin: auto;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.piePagina__subir{
    height: 5rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    border: none;
    box-shadow: -4px 4px 12px -6px rgba(0,0,0,0.75);
    
}
.caja>p{
    padding: 0.1rem;
}