*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    text-decoration: none;
}
.clearfix{
    float: none;
    clear: both;
}
a{
    color: black;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-color: #DFDFDF;
}
.navegador, .piePagina{
    height: 8vh;
    width: 100%;
    background-color: #FB1B1B;
}
.navegador{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.piePagina__icons__icon{
    width: 30px;
    object-fit: cover;
    object-position: center;
}
.links{
    padding: 20px;
    color: white;
    font-size: 3rem;
    font-family: serif;
    transition: all 0.25s ease-in-out;
}
.links:hover{
    color: gold;
}
.piePagina__iconsContenedor{
    max-width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen__logo{
    width: 25%;
    object-fit: cover;
    object-position: center;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}  
::-webkit-scrollbar-thumb {
    background-color: #5EBDFC;
}
.water{background-color: #6390F0;}
.grass{background-color: #7AC74C;}
.fire{background-color: #EE8130;}
.bug{background-color: #A6B91A;}
.normal{background-color: #A8A77A;}
.electric{background-color: #F7D02C;}
.ground{background-color: #E2BF65;}
.poison{background-color: #A33EA1;}
.fighting{background-color: #C22E28;}
.psychic{background-color: #F95587;}
.rock{background-color: #B6A136;}
.dragon{background-color: #6F35FC;}
.flying{background-color: #A98FF3;}
.ice{background-color:#96D9D6;}
.ghost{background-color: #735797;}
.dark{background-color:#705746;}
.steel{background-color: #B7B7CE;}
.fairy{background-color: #D685AD;}