@import url("./plantilla.css");
body{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.main{
    width: 90vw;
    margin: auto;
    padding: 0 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 5px;
}
.contenedorTabla{
    width: 100%;
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-template-rows: 25px 1fr;
    box-shadow: 5px 10px 8px #888888;;
}
.tabla{
    border-collapse: collapse;
    width: 100%;
}
td{
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem 0;
}
.efectividad1{
    background-color: white;
}
.efectividad2{
    background-color: rgb(5, 194, 5);
}
.efectividad0{
    background-color: black;
    color: white;
}
.efectividadMedio{
    background-color: orange;
}
.tipo{
    font-weight: bold;
}
.transicion{
    background: linear-gradient(45deg, rgb(255, 76, 76) 50%, rgb(95, 92, 249) 50%);
}
.defensor{
    background-color: rgb(95, 92, 249);
}
.atacante, .defensor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.atacante{
    background-color: rgb(255, 76, 76);
}
.atacante>p, .defensor>p{
    font-weight: bold;
    letter-spacing: 20px;
}
.atacante>p{
    transform: rotate(-90deg);
}
.destacado{
    box-shadow:0 0 3px 3px #5894bb inset,0 0 3px 3px #5894bb;
    -moz-box-shadow:0 0 3px 3px #5894bb inset,0 0 3px 3px #5894bb;
    -webkit-box-shadow:0 0 3px 3px #5894bb inset,0 0 3px 3px #5894bb;
    position: relative;
}